.footer
{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.footer .text{
    justify-self: center;
}
.footer .text h2{
    text-align: center;
}
.footer .links{
    justify-self: center;
    align-self: center;
}
.footer .links a{
    margin: 10px;
    text-decoration: none;
    color: black;
    font-style: italic;

}
.footer .links a:hover{
    color: blue;
    text-decoration: underline;
    font-style: normal;
}